body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 900;
  font-size: 60px;
  color: #131A2D;
}

hr {
  border-top: 5px solid #D0C4AB;
}

.colored-background {
  background-color: #131A2D;
  color: #D0C4AB;
}

img {
  padding-top: 20px;
  padding-bottom: 20px;

}

h4 {
  font-size: 22px;
}

h3 {
  font-size: 34px;
}

.no-margin {
  margin: 0 auto;
}